{% set before_dict = {} %}
{% if state_list_before is not none %}
  {% if state_list_before | length > 0 %}
    {% for item in state_list_before %}
      {% set item_dict = dict(item.items()) %}
      {% set _ = before_dict.update({item['name']: item_dict}) %}
    {% endfor %}
  {% endif %}
{% endif %}
{% set after_dict = {} %}
{% if state_list_after is not none %}
  {% if state_list_after | length > 0 %}
    {% for item in state_list_after %}
      {% set item_dict = dict(item.items()) %}
      {% set _ = after_dict.update({item['name']: item_dict}) %}
    {% endfor %}
  {% endif %}
{% endif %}

{% set added_keys = after_dict.keys() | difference(before_dict.keys()) | list %}
{% set removed_keys = before_dict.keys() | difference(after_dict.keys()) | list %}
{% set before_dict_removals = before_dict | dict2items | selectattr('key', 'in', removed_keys) | items2dict %}
{% set before_dict_without_removals = before_dict | dict2items | rejectattr('key', 'in', removed_keys) | items2dict %}
{% set after_dict_additions = after_dict | dict2items | selectattr('key', 'in', added_keys) | items2dict %}
{% set after_dict_without_additions = after_dict | dict2items | rejectattr('key', 'in', added_keys) | items2dict %}
{% set changed_list = [] %}
{% for item in before_dict_without_removals.keys() %}
  {% if after_dict_without_additions[item] != before_dict_without_removals[item] %}
    {% set _ = changed_list.append(item) %}
  {% endif %}
{% endfor %}
{% set changed_dict = after_dict_without_additions | dict2items | selectattr('key', 'in', changed_list) | items2dict %}
{% set changed_or_added = changed_dict | combine(after_dict_additions) %}
{% set changed_or_added_list = changed_or_added.values() | list %}
{% set removal_list = [] %}
{% for key in removed_keys %}
  {% set _ = removal_list.append({'name': key, 'state': 'absent'}) %}
{% endfor %}
{% set all_deltas = changed_or_added_list + removal_list %}
{{ all_deltas }}
